@charset "UTF-8";

@media (max-width: 768px) {
    @font-face {
        font-family: source_sans;
        src: url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);
    }
    
    
    *, *::after, *::before {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--cor4);
        text-decoration: none;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;    
    }
    
    :root {
        --cor1: #0c121e;
        --cor2: #1c2642;
        --cor3: #131e3e;
        --cor4: #ffffff;
        --cor5: #143828; 
        --cor6: #000000;
        --cor7: #6e8bdb 
    }
    
    html {
        background-color: white;
        overflow-x: hidden;
    }
    
    html.block-scroll {
        overflow: hidden;
    }


    h1 {
        max-width: 80vw;
        font-size: 1.7rem;
    }


    .item > a::before {
        display: none;
    }

    .toggle {
        display: block;
    }
    
    .hide {
        display: none;
    }

    .img_sobre {
        max-width: 100vw;
    }

    .texto_sobre {
        max-width: 85vw;
    }

    .texto_sobre > p {
        text-align: left;
        
    }

    .black {
        display: none;
    }

    .show {
        display: block;
        color: var(--cor6);
    }

    .servicos_bg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        background-color: var(--cor3);
    }

    .img_servicos_card {
        max-width: 30vw;
    }
    
    .texto-expanded {
        max-width: 80vw;
    }

    .texto-expanded > p {
        max-width: 80%;
    }

    .lista {
        z-index: 9000;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        align-items: flex-start;
        padding: min(30vh, 10rem) 2rem;
        gap: 3rem;
        background-color: var(--cor3);
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;   
    }

    .lista[data-visible='true'] {
        transform: translateX(0%);
    }

    .item {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .cta {
        max-width: 10rem;
    }

    .icons {
        display: none;
    }

    .icons_footer_parent {
        display: flex;
        gap: 1rem;
    }

    .icons_footer {
        display: block;
    }

    .toggle {
        display: block;
        position: absolute;
        background: url(images/menu_open.svg);
        background-repeat: no-repeat;
        border: 0px;
        aspect-ratio: 1;
        width: 3rem;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 9999;
        cursor: pointer;
        background-size: 70%;   
        background-position: center center;     
    }

    .contato_bg {
        display: flex;
        flex-direction: column;
        padding: 8% 5%;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .texto_contato {
        text-align: justify;
        max-width: 80vw;
    }

    .texto_contato > p {
        text-align: left;
        width: 80vw;
        max-width: 100%;
    }

    .email-contato {
        max-width: 80vw;
    }

    .texto_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .texto-expanded {
        width: 80%;
        max-width: 80%;
    }

    @media (prefers-color-scheme: dark) {
        .sobre_bg {
          background-color: white;
        }
    }
    
}